{% extends "site_wrapper.html" %}
{% load nospaces %}
{% load catalog_tags %}
{% block meta_description %}{% nospaces %}
    {{ page_meta_description }}
{% endnospaces %}{% endblock %}
{% block meta_description_og %}{% nospaces %}
    {{ page_meta_description }}
{% endnospaces %}{% endblock %}
{% block meta_keywords %}{% nospaces %}
    {{ page_meta_keywords }}
{% endnospaces %}{% endblock %}
{% block title_page %}{% nospaces %}
    {{ page_title }}
{% endnospaces %}{% endblock %}
{% block title_page_og %}{% nospaces %}
    {{ page_title }}
{% endnospaces %}{% endblock %}
{% block content %}
{% extends "catalog.html" %}
{% block content %}
        <section id="cart_items">
		<div class="container">
    <h1>{{ pswd_change }}</h1>
            {{ success_change_psw}}
    <br/><br/>
    <a href="/">{{ continue_shop }}</a>
            </div>
        </section>
{% endblock %}
{% endblock %}