{% extends "site_wrapper.html" %}
{% load nospaces %}
{% load catalog_tags %}
{% block meta_description %}{% nospaces %}
    {{ page_meta_description }}
{% endnospaces %}{% endblock %}
{% block meta_description_og %}{% nospaces %}
    {{ page_meta_description }}
{% endnospaces %}{% endblock %}
{% block meta_keywords %}{% nospaces %}
    {{ page_meta_keywords }}
{% endnospaces %}{% endblock %}
{% block title_page %}{% nospaces %}
    {{ page_title }}
{% endnospaces %}{% endblock %}
{% block title_page_og %}{% nospaces %}
    {{ page_title }}
{% endnospaces %}{% endblock %}
{% block content %}
        <section id="cart_items">
		<div class="container">
    <form action="." method="post">
        <table>
            {% csrf_token %}
            <caption>{{ change_pswd }}</caption>
            {{ form.as_table }}
            <tr>
                <td colspan="2" class="right">
                    <input type="submit" name="submit" value="{{ change_pswd }}"/>
                </td>
            </tr>
        </table>
    </form>
            </div>
        </section>
{% endblock %}